body {
    padding-top: 0px;
    padding-bottom: 20px;
    font-family: Helvetica, sans-serif;
    font-size: 14px !important;
}
@media only screen and (max-width: 400px) {
    body {
        font-size: 13px !important;
    }
    .row {
        margin-right: -5px;
        margin-left: -5px;
    }
    .col-1, .col-2, .col-3, .col-4, 
    .col-5, .col-6, .col-7, .col-8, 
    .col-9, .col-10, .col-11, .col-12, 
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, 
    .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, 
    .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, 
    .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, 
    .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, 
    .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, 
    .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        padding-left: 5px;
        padding-right: 5px;
    }
}
.device {
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    box-shadow: 1px 5px 10px #e2e2e2;
    padding: 5px;
    /* min-height: 100px; */
    margin-bottom: 10px;
}
.device-dead {
    background-color: #e6d9d9;
}
.device-has-cmd {
    background-color: #c5ea52;
}
.device .device-name {
    padding-bottom: 2px;
    display: inline-block;
    word-break: break-all;
}
.device .device-name strong {
    color: #111010;
    /* word-wrap: break-all; */
}

/* Heartbeat */
.heartbeat {
}
.heartbeat .heartbeat-status {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    display: inline-block;
}
.heartbeat .heartbeat-label {
    vertical-align: top;
    padding-left: 10px;
}
.heartbeat .healthy {
    background-color: #0461af;
}
.device .log {
    min-height: 90px;
    width: 100%;
    resize: none;
}

.log-table {
    font-size: 12px;
}
.log-table td {
    padding: 1px;
    word-break: break-all;
}
.log-table td.name {
    min-width: 82px;
}
.log-table td.date {
    min-width: 85px;
}
.log-table td.index {
    min-width: 17px;
}
/* Config */
.meta-input-name {
    font-size: 14px;
    font-weight: 600;
    color: #0461af;
}
.meta-input-value {
    margin-top: 2px;
    font-size: 14px;
}
.meta-alert {
    font-size: 11px;
}
.meta-line {
    padding: 2px 2px 2px 5px;
    border: 1px solid #e3e3e3;
    margin-bottom: 2px;
}
.meta-line:hover {
    background-color: antiquewhite;
}
.meta-line .title {
    font-weight: bold;
    color: #0461af;
    display: inline-block;
}
.meta-line .value {
    font-weight: 300;
    padding-left: 10px;
    word-break: break-all;
    display: inline-block;
}
.meta-line .action {
    float: right;
}
.meta-cmd {
    background-color: #c5ea52;
}

.btn-cmd {
    width: 88px;
    /* font-size: 12px; */
    padding: 2px;
}

.btn-cmd-desc {
    display: block;
    font-size: 13px;
    color: #333;
}